.product-div{
    display: flex;
    justify-content: space-evenly;
}
.line{
border-width: 2px;
}
.line-logo{
position: relative;
top: -70px;
background-color:transparent;
 padding: 0 10px;
}
.line-div{
text-align: center;
padding-top: 50px;
}
.product-img{
    width: 460px;
    height: 600px;
}