.abs{
position:absolute;
}
.opa-25{
opacity:0.25;
}
.opa-25{
opacity:0.25;
z-index: -1;
}
.opa-50{
opacity:0.5;
z-index: -1;
}
.spike1{
    top: -62px;
    left: -146px;
}
.spike2{
    top: -62px;
    right: -146px;
}
.spike3{
    top: 370px;
    left: -146px;
}
.spike4{
    top: 370px;
    right: -146px;
}
.castle1{
    top: 808px;
}
.castle2{
    top: 808px;
    right:0px;
    transform: scaleX(-1);
}