<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Mirza:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="h-100 text-center bg-white">
<header>
    <div class="header">
        <a class="mirza-regular font-medium" href="/login">login</a>
        <a class="lavishly-yours-regular font-64" href="/">videserein</a>
        <a class="mirza-regular font-medium" id="carthref" href="/cart">cart</a>
    </div>

</header>
<main>
<div class="container mt-5 d-flex justify-content-center">
    <div class="p-3">
        <div class="d-flex flex-column" style="height: 400px;">
            <input id="name" type="text" placeholder="product name">
            <textarea id="description" placeholder="description"></textarea>
            <input id="sizes" type="text" placeholder="sizes"></input>
            <input id="price" type="number" placeholder="price">
            <select id="category">
                <option value="jeans">jeans</option>
                <option value="tops">tops</option>

            </select>
            <select id="brand">
                <option value="y2k">y2k</option>
                <option value="opiumcore">opiumcore</option>

            </select>
            <input id="file-input" type="file">
            <button id="buttonimage">save product</button>

        </div>

    </div>
</div>

    <div class="product-div" >
        <div class="product" th:each="product: ${products}">
            <p th:text="${product.name}"></p>
            <p th:text="${product.description}"></p>
            <p th:text="${product.price}"></p>
            <span th:attr="onclick=|deleteproduct(${product.id})|">delete product</span>
        </div>

    </div>

</main>
<footer>
    <div class="footer">
        <div class="font-medium">
            <a class="mirza-regular font-medium" href="/aboutus">about us</a>
            |
            <a class="mirza-regular font-medium" href="/contacts">contacts</a>
        </div>
    </div>
</footer>
<script th:src="@{/js/addproduct.js}"></script>
<script th:src="@{/js/iflogin.js}"></script>
<script>
     async function deleteproduct(id){
    const formData = new FormData();

          formData.append("id",id);


          const response = await fetch("/api/product/delete", {
                  method: "POST",
                  body: formData,
                })
              .then(response => {
                  // Check for successful response
                  if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`); // Handle non-2xx response
                  }
                  return response.json(); // Parse JSON response
                })
                .then(data => {


                })
                .catch(error => {


                });
    }
</script>
</body>
</html>