<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/catalogpage.css}">
    <link rel="stylesheet" th:href="@{/css/imagesopiumcore.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Mirza:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="h-100 text-center bg-white">
<header>
    <div class="header">
        <a class="mirza-regular font-medium" href="/login">login</a>
        <a class="lavishly-yours-regular font-64" href="/">videserein</a>
        <a class="mirza-regular font-medium invisible" id="carthref" href="/cart">cart</a>
    </div>

</header>
<main>
<div class="product-div" >
    <div th:each="jean: ${jeans}">
    <a th:href="@{'/product?productid='+${jean.id}}">
        <img class="product-img" th:src="@{'/images/products/'+${jean.imagePath}}" alt="">
    </a>
    </div>
</div>
<div class="line-div">
    <hr class="line">
        <span class="line-logo lavishly-yours-regular font-64" style="">jeans</span>
</div>
<div class="product-div" >
    <div th:each="top: ${tops}">
    <a th:href="@{'/product?productid='+${top.id}}">
        <img class="product-img" th:src="@{'/images/products/'+${top.imagePath}}" alt="">
    </a>
    </div>
</div>
<div class="line-div">
    <hr class="line">
    <span class="line-logo lavishly-yours-regular font-64" style="">tops</span>
</div>
</main>
<footer>
    <div class="footer">
        <div class="font-medium">
            <a class="mirza-regular font-medium" href="/aboutus">about us</a>
            |
            <a class="mirza-regular font-medium" href="/contacts">contacts</a>
        </div>
    </div>
</footer>
<img class=" abs opa-25 star1" th:src="@{/img/star.png}" alt="">
<img class="abs opa-25 star2" th:src="@{/img/star.png}" alt="">
<img class="abs opa-50 spare"  th:src="@{/img/spare.png}" alt="">
<img class=" abs opa-25 castle1" th:src="@{/img/castle.png}" alt="">
<img class="abs opa-25 castle2" th:src="@{/img/castle.png}" alt="">


<script th:src="@{/js/iflogin.js}"></script>

</body>
</html>