<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/catalogpage.css}">
    <link rel="stylesheet" th:href="@{/css/castle.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Mirza:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="h-100 text-center bg-white">
<header>
    <div class="header">
        <a class="mirza-regular font-medium" href="/login">login</a>
        <a class="lavishly-yours-regular font-64" href="/">videserein</a>
        <a class="mirza-regular font-medium" id="carthref" href="/cart">cart</a>
    </div>

</header>

<div class="flex-column mirza-regular">
    <div class="flex-column nine">
        <input class="six mirza-regular textsizesmall" id="email" type="text" placeholder="email">
        <input class="six mirza-regular textsizesmall" id="password" type="password" placeholder="password">
        <input class="six mirza-regular textsizesmall" id="confirmpassword" type="password" placeholder=" confirm password">
    </div>
    <div class="flex-column nine ">

        <button class="tree mirza-regular textsizesmall" onclick="SendReg()">sign up</button>




    </div>
</div>

<footer>
    <div class="footer">
        <div class="font-medium">
            <a class="mirza-regular font-medium" href="/aboutus">about us</a>
            |
            <a class="mirza-regular font-medium" href="/contacts">contacts</a>
        </div>
    </div>
</footer>
<script th:src="@{/js/registration.js}"></script>

<script th:src="@{/js/iflogin.js}"></script>

</body>
</html>